In [66]:
import pandas as pd
from IPython.display import display

In [74]:
path_Bearbeitungscenter= r"C:\Users\fgottardo\OneDrive - Phoenix Mecano AG (Prod)\Bachelor Arbeit\Bachelor Arbeit\DAG\Validation Daten\Bearbeitungscenter.xlsx"
path_FA = r"C:\Users\fgottardo\OneDrive - Phoenix Mecano AG (Prod)\Bachelor Arbeit\Bachelor Arbeit\DAG\Validation Daten\BeendeteFAs.xlsx"

In [75]:
df_Bearbeitungscenter = pd.read_excel(path_Bearbeitungscenter)
display(df_Bearbeitungscenter.head(0))

Empty DataFrame
Columns: [Key, Machine - Workcenter, WorkCenter, WorkCenter Name, Artikel No, Artikel Beschr., Finished Quantity, OperationNo, EntryDate, Vorgänger Machine - Workcenter, Vorgänger WorkCenter, Vorgänger WorkCenter Name, Vorgänger OperationNo, Vorgänger EntryDate, Durchlauf Zeit (h), Durchlauf Zeit (t), Setup And Runtime Zeit (h), Setup Zeit(h), Run Zeit(h)]
Index: []

In [76]:
df_Bearbeitungscenter.drop(columns=['Machine - Workcenter', 'WorkCenter', 'WorkCenter Name', 'Artikel No', 'Artikel Beschr.', 'Finished Quantity', 'Vorgänger Machine - Workcenter', 'Vorgänger WorkCenter', 'Vorgänger WorkCenter Name', 'Vorgänger OperationNo', 'Vorgänger EntryDate' ], inplace=True)
display(df_Bearbeitungscenter.head(0))

Empty DataFrame
Columns: [Key, OperationNo, EntryDate, Durchlauf Zeit (h), Durchlauf Zeit (t), Setup And Runtime Zeit (h), Setup Zeit(h), Run Zeit(h)]
Index: []

In [77]:
df_Bearbeitungscenter['Key'] = df_Bearbeitungscenter['Key'].str.split('_').str[0]
display(df_Bearbeitungscenter.head(5))

,Key,OperationNo,EntryDate,Durchlauf Zeit (h),Durchlauf Zeit (t),Setup And Runtime Zeit (h),Setup Zeit(h),Run Zeit(h)
0,FA1112305,20,2025-05-13 17:08:06,272.00,34.00,1.93,1.62,0.32
1,FA1114090,21,2025-01-22 07:21:28,265.36,33.17,0.87,0.52,0.35
2,FA1114511,22,2025-05-20 09:21:44,200.33,25.04,27.75,0.30,27.45
3,FA1114659,20,2025-01-17 07:02:59,178.52,22.32,0.97,0.35,0.62
4,FA1114659,40,2024-07-24 16:23:26,170.56,21.32,4.18,0.73,3.45

In [78]:
df_FA = pd.read_excel(path_FA, skiprows=2)
display(df_FA.head(0))

Empty DataFrame
Columns: [Nr., Beschreibung, Herkunftsnr., Arbeitsplannr., Menge, Startdatum, Enddatum, Fälligkeitsdatum, Zugewiesene Benutzer-ID, Status, Suchbegriff, Sales Order No., Customer Name, Fertigstellungsdatum]
Index: []

In [79]:
df_FA.drop(columns=['Beschreibung', 'Herkunftsnr.', 'Arbeitsplannr.', 'Zugewiesene Benutzer-ID', 'Status', 'Suchbegriff', 'Sales Order No.', 'Customer Name'], inplace=True)
display(df_FA.head(0))

Empty DataFrame
Columns: [Nr., Menge, Startdatum, Enddatum, Fälligkeitsdatum, Fertigstellungsdatum]
Index: []

In [80]:
df_merged = pd.merge(df_FA, df_Bearbeitungscenter, left_on='Nr.', right_on='Key', how='inner')
display(df_merged.head(5))

,Nr.,Menge,Startdatum,Enddatum,Fälligkeitsdatum,Fertigstellungsdatum,Key,OperationNo,EntryDate,Durchlauf Zeit (h),Durchlauf Zeit (t),Setup And Runtime Zeit (h),Setup Zeit(h),Run Zeit(h)
0,FA1112305,21,2024-06-12,2024-06-21,2024-06-21,2024-06-26,FA1112305,20,2025-05-13 17:08:06,272.00,34.00,1.93,1.62,0.32
1,FA1114090,300,2024-05-17,2024-05-30,2024-05-30,2024-05-31,FA1114090,21,2025-01-22 07:21:28,265.36,33.17,0.87,0.52,0.35
2,FA1114511,36,2024-05-16,2024-05-29,2024-05-29,2024-05-29,FA1114511,22,2025-05-20 09:21:44,200.33,25.04,27.75,0.30,27.45
3,FA1114659,50,2024-05-06,2024-05-31,2024-05-31,2024-05-31,FA1114659,20,2025-01-17 07:02:59,178.52,22.32,0.97,0.35,0.62
4,FA1114659,50,2024-05-06,2024-05-31,2024-05-31,2024-05-31,FA1114659,40,2024-07-24 16:23:26,170.56,21.32,4.18,0.73,3.45

In [81]:
df_merged.drop(columns=['Key'], inplace=True)
display(df_merged.head(0))

Empty DataFrame
Columns: [Nr., Menge, Startdatum, Enddatum, Fälligkeitsdatum, Fertigstellungsdatum, OperationNo, EntryDate, Durchlauf Zeit (h), Durchlauf Zeit (t), Setup And Runtime Zeit (h), Setup Zeit(h), Run Zeit(h)]
Index: []

In [82]:
df_merged.rename(columns={
    'Nr.' : 'FANummer',
    'Menge' : 'Menge',
    'Startdatum' : 'Startdatum',
    'Enddatum' : 'Enddatum',
    'Fälligkeitsdatum' : 'Fälligkeitsdatum',
    'Fertigstellungsdatum' : 'Fertigstellungsdatum',
    'OperationNo' : 'OperationNo',
    'EntryDate' : 'Logdatum',
    'Durchlauf Zeit (h)' : 'DurchlaufszeitIst(h)',
    'Durchlauf Zeit (t)' : 'DurchlaufszeitIst(t)',
    'Setup And Runtime Zeit (h)' : 'Rüst-Bearbeitungszeit',
    'Setup Zeit(h)' : 'Rüstzeit',
    'Run Zeit(h)' : 'Bearbeitungszeit'
}, inplace=True)

display(df_merged.head(10))

,FANummer,Menge,Startdatum,Enddatum,Fälligkeitsdatum,Fertigstellungsdatum,OperationNo,Logdatum,DurchlaufszeitIst(h),DurchlaufszeitIst(t),Rüst-Bearbeitungszeit,Rüstzeit,Bearbeitungszeit
0,FA1112305,21,2024-06-12,2024-06-21,2024-06-21,2024-06-26,20,2025-05-13 17:08:06,272.00,34.00,1.93,1.62,0.32
1,FA1114090,300,2024-05-17,2024-05-30,2024-05-30,2024-05-31,21,2025-01-22 07:21:28,265.36,33.17,0.87,0.52,0.35
2,FA1114511,36,2024-05-16,2024-05-29,2024-05-29,2024-05-29,22,2025-05-20 09:21:44,200.33,25.04,27.75,0.30,27.45
3,FA1114659,50,2024-05-06,2024-05-31,2024-05-31,2024-05-31,20,2025-01-17 07:02:59,178.52,22.32,0.97,0.35,0.62
4,FA1114659,50,2024-05-06,2024-05-31,2024-05-31,2024-05-31,40,2024-07-24 16:23:26,170.56,21.32,4.18,0.73,3.45
5,FA1114659,50,2024-05-06,2024-05-31,2024-05-31,2024-05-31,50,2025-04-22 15:18:48,152.92,19.11,1.28,0.02,1.27
6,FA1114738,1,2024-05-06,2024-05-13,2024-05-13,2024-05-24,20,2024-10-10 07:26:53,152.64,19.08,3.78,0.78,3.00
7,FA1114774,250,2024-05-28,2024-06-10,2024-06-10,2024-06-17,50,2025-02-03 14:38:59,148.78,18.60,2.25,0.58,1.67
8,FA1114789,500,2024-05-15,2024-05-24,2024-05-24,2024-05-31,60,2025-01-07 14:46:29,143.55,17.94,1.53,0.72,0.82
9,FA1114795,10,2024-06-03,2024-06-18,2024-06-18,2024-06-21,40,2025-01-13 11:18:05,135.02,16.88,3.33,0.70,2.63

In [83]:
df_merged.describe(include='all')

,FANummer,Menge,Startdatum,Enddatum,Fälligkeitsdatum,Fertigstellungsdatum,OperationNo,Logdatum,DurchlaufszeitIst(h),DurchlaufszeitIst(t),Rüst-Bearbeitungszeit,Rüstzeit,Bearbeitungszeit
count,2894,2894.000000,2894,2894,2894,2894,2894.000000,2894,2894.000000,2894.000000,2894.000000,2894.000000,2894.000000
unique,1467,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,FA1119067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,29.627851,2024-11-07 21:55:36.281962240,2024-11-15 09:47:08.749136384,2024-11-15 10:06:33.089149952,2024-11-19 11:49:33.047685120,75.863856,2024-11-15 03:21:27.089840896,11.296824,1.411818,1.352533,0.330681,1.022156
min,NaN,1.000000,2023-12-15 00:00:00,2024-01-18 00:00:00,2024-01-18 00:00:00,2024-05-24 00:00:00,10.000000,2024-05-22 13:55:16,0.000000,0.000000,-16.800000,-1.670000,-16.800000
25%,NaN,2.000000,2024-08-15 00:00:00,2024-08-21 00:00:00,2024-08-21 00:00:00,2024-08-23 00:00:00,20.000000,2024-08-16 07:35:42.249999872,0.010000,0.000000,0.320000,0.150000,0.070000
50%,NaN,10.000000,2024-11-05 00:00:00,2024-11-12 00:00:00,2024-11-12 00:00:00,2024-11-20 00:00:00,30.000000,2024-11-11 09:44:35.500000,4.860000,0.610000,0.600000,0.300000,0.250000
75%,NaN,25.000000,2025-02-06 00:00:00,2025-02-12 00:00:00,2025-02-12 00:00:00,2025-02-13 00:00:00,40.000000,2025-02-13 10:54:38.249999872,16.380000,2.050000,1.300000,0.430000,0.837500
max,NaN,581.000000,2025-05-15 00:00:00,2025-05-19 00:00:00,2025-05-19 00:00:00,2025-05-21 00:00:00,5000.000000,2025-05-20 16:24:03,272.000000,34.000000,27.750000,5.880000,27.450000
std,NaN,65.011866,NaN,NaN,NaN,NaN,251.840419,NaN,18.558997,2.319995,2.643703,0.341881,2.534215

In [84]:
df_merged.isnull().sum()

FANummer                 0
Menge                    0
Startdatum               0
Enddatum                 0
Fälligkeitsdatum         0
Fertigstellungsdatum     0
OperationNo              0
Logdatum                 0
DurchlaufszeitIst(h)     0
DurchlaufszeitIst(t)     0
Rüst-Bearbeitungszeit    0
Rüstzeit                 0
Bearbeitungszeit         0
dtype: int64

In [85]:
cols_merged = [
    'Menge',
    'Startdatum',
    'Enddatum',
    'Fälligkeitsdatum',
    'Fertigstellungsdatum',
    'Logdatum',
    'DurchlaufszeitIst(h)',
    'DurchlaufszeitIst(t)',
    'Rüst-Bearbeitungszeit',
    'Rüstzeit',
    'Bearbeitungszeit'
]

corr_matrix = df_merged[cols_merged].corr()
cov_matrix  = df_merged[cols_merged].cov()

print("Korrelationsmatrix:")
display(corr_matrix.round(3))
print("\nKovarianzmatrix:")
display(cov_matrix.round(3))

Korrelationsmatrix:

,Menge,Startdatum,Enddatum,Fälligkeitsdatum,Fertigstellungsdatum,Logdatum,DurchlaufszeitIst(h),DurchlaufszeitIst(t),Rüst-Bearbeitungszeit,Rüstzeit,Bearbeitungszeit
Menge,1.000,-0.030,-0.006,-0.006,-0.001,-0.018,0.085,0.085,0.046,0.018,0.046
Startdatum,-0.030,1.000,0.989,0.989,0.984,0.009,-0.699,-0.699,-0.280,-0.279,-0.254
Enddatum,-0.006,0.989,1.000,1.000,0.996,0.006,-0.703,-0.703,-0.285,-0.279,-0.259
Fälligkeitsdatum,-0.006,0.989,1.000,1.000,0.996,0.006,-0.703,-0.703,-0.285,-0.279,-0.259
Fertigstellungsdatum,-0.001,0.984,0.996,0.996,1.000,0.002,-0.702,-0.702,-0.283,-0.278,-0.257
Logdatum,-0.018,0.009,0.006,0.006,0.002,1.000,0.068,0.068,-0.001,-0.002,-0.000
DurchlaufszeitIst(h),0.085,-0.699,-0.703,-0.703,-0.702,0.068,1.000,1.000,0.296,0.210,0.280
DurchlaufszeitIst(t),0.085,-0.699,-0.703,-0.703,-0.702,0.068,1.000,1.000,0.296,0.210,0.280
Rüst-Bearbeitungszeit,0.046,-0.280,-0.285,-0.285,-0.283,-0.001,0.296,0.296,1.000,0.378,0.992
Rüstzeit,0.018,-0.279,-0.279,-0.279,-0.278,-0.002,0.210,0.210,0.378,1.000,0.259
Bearbeitungszeit,0.046,-0.254,-0.259,-0.259,-0.257,-0.000,0.280,0.280,0.992,0.259,1.000

Kovarianzmatrix:

,Menge,Startdatum,Enddatum,Fälligkeitsdatum,Fertigstellungsdatum,Logdatum,DurchlaufszeitIst(h),DurchlaufszeitIst(t),Rüst-Bearbeitungszeit,Rüstzeit,Bearbeitungszeit
Menge,4.226543e+03,-1.710795e+16,-3.685570e+15,-3.622180e+15,-7.055746e+14,-1.053319e+16,1.021820e+02,1.277900e+01,7.899000e+00,3.930000e-01,7.504000e+00
Startdatum,-1.710795e+16,7.939039e+31,7.721137e+31,7.720091e+31,7.723037e+31,6.873583e+29,-1.156528e+17,-1.445884e+16,-6.595915e+15,-8.508115e+14,-5.739077e+15
Enddatum,-3.685570e+15,7.721137e+31,7.683376e+31,7.682308e+31,7.688196e+31,4.621779e+29,-1.144065e+17,-1.430304e+16,-6.605135e+15,-8.374768e+14,-5.761664e+15
Fälligkeitsdatum,-3.622180e+15,7.720091e+31,7.682308e+31,7.681268e+31,7.687132e+31,4.641005e+29,-1.143882e+17,-1.430076e+16,-6.604886e+15,-8.374722e+14,-5.761420e+15
Fertigstellungsdatum,-7.055746e+14,7.723037e+31,7.688196e+31,7.687132e+31,7.762442e+31,1.559468e+29,-1.147298e+17,-1.434341e+16,-6.587354e+15,-8.380594e+14,-5.743266e+15
Logdatum,-1.053319e+16,6.873583e+29,4.621779e+29,4.641005e+29,1.559468e+29,8.116516e+31,1.131103e+16,1.413683e+15,-1.436071e+13,-5.354985e+12,-1.007537e+13
DurchlaufszeitIst(h),1.021820e+02,-1.156528e+17,-1.144065e+17,-1.143882e+17,-1.147298e+17,1.131103e+16,3.444360e+02,4.305700e+01,1.450200e+01,1.330000e+00,1.316900e+01
DurchlaufszeitIst(t),1.277900e+01,-1.445884e+16,-1.430304e+16,-1.430076e+16,-1.434341e+16,1.413683e+15,4.305700e+01,5.382000e+00,1.813000e+00,1.660000e-01,1.646000e+00
Rüst-Bearbeitungszeit,7.899000e+00,-6.595915e+15,-6.605135e+15,-6.604886e+15,-6.587354e+15,-1.436071e+13,1.450200e+01,1.813000e+00,6.989000e+00,3.410000e-01,6.647000e+00
Rüstzeit,3.930000e-01,-8.508115e+14,-8.374768e+14,-8.374722e+14,-8.380594e+14,-5.354985e+12,1.330000e+00,1.660000e-01,3.410000e-01,1.170000e-01,2.240000e-01
Bearbeitungszeit,7.504000e+00,-5.739077e+15,-5.761664e+15,-5.761420e+15,-5.743266e+15,-1.007537e+13,1.316900e+01,1.646000e+00,6.647000e+00,2.240000e-01,6.422000e+00

In [86]:
output_xlsx = r"RealDataMerged/mergedBase.xlsx"
df_merged.to_excel(output_xlsx, index=False)